@font-face {
	font-family: 'Arame';
	src: url('/fonts/Arame/Arame.eot');
	src: local('Arame'),
		url('/fonts/Arame/Arame.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Arame/Arame.woff') format('woff'),
		url('/fonts/Arame/Arame.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arame';
	src: url('/fonts/Arame/Arame-Bold.eot');
	src: local('Arame Bold'), local('Arame-Bold'),
		url('/fonts/Arame/Arame-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Arame/Arame-Bold.woff') format('woff'),
		url('/fonts/Arame/Arame-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Black.eot');
	src: local('Montserrat Black'), local('Montserrat-Black'),
		url('/fonts/Montserrat-Black.woff') format('woff'),
		url('/fonts/Montserrat-Black.ttf') format('truetype'),
		url('/fonts/Montserrat-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat-Regular.woff2') format('woff2'),
		url('/fonts/Montserrat-Regular.woff') format('woff'),
		url('/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Light.eot');
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('/fonts/Montserrat/Montserrat-Light.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-Light.ttf') format('truetype'),
		url('/fonts/Montserrat/Montserrat-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
		url('/fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
		url('/fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype'),
		url('/fonts/Montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('/fonts/Raleway/Raleway-Black.eot');
	src: local('Raleway Black'), local('Raleway-Black'),
		url('/fonts/Raleway/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Raleway/Raleway-Black.woff') format('woff'),
		url('/fonts/Raleway/Raleway-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('/fonts/Raleway/Raleway-ExtraLight.eot');
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
		url('/fonts/Raleway/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Raleway/Raleway-ExtraLight.woff') format('woff'),
		url('/fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}